# CSpell in VSCode
.vscode/cspell.json

# Node / Next.js
node_modules
.next
tsconfig.tsbuildinfo

# Local database artifacts
storage/*.sqlite
storage/*.sqlite-shm
storage/*.sqlite-wal

# Generated media derivatives
storage/media/thumbs
